body{
    width: 100%;
    margin: 0;
    
}

.slider {
  width: 15px;
  height: 15px;
  border: 2px solid #1b9aaa;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
}

.slider:hover {
  background: #1b9aaa;
}

.header {
  position: absolute;
  top: 50%;
  right: 50px;
  z-index: 999;
}

.header ul li {
  list-style: none;

}


.intro{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    padding: 0;
    background-image: url('../img/workspace.jpg');
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    

}
.overlay{
    background: #333333;
    opacity: 0.6;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.content{
    position: relative;
    width: 100%;
    top: 300px;
}


.intro p{
    font-size: 20px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    margin-top: 8px;
    letter-spacing: 2px;
}

.intro h2{
    font-size: 80px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    padding-top: 3px;
}

@media only screen and (max-width: 500px){
    .intro h2{
        font-size:50px;
    }
   
}

.line{
    display: block;
    width: 400px;
    height: 5px; 
    margin: 0 auto;
    background-color: #fff;   
}

@media only screen and (max-width: 500px){
   
    .line{
        width:250px;
    }
}

.about{
    width: 100%;
    padding: 100px;
}


.about h2{
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-style: bold;
}

.picture{
    height: 500px;
    border-radius: 100%;
    background: url('img/code.jpg');
    border: 10px solid #e7e7e7;
    border-width: 10px;

}

.heading{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.heading::after{
    content: "";
    display: flex;
    width: 100px;
    height: 1px;
    background: #333333;
    margin: 40px 0 40px;
}

.text{
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 20px;
    font-weight: 100;
}

/*Skills Section */
.skills{
    width: 100%;
    padding: 100px;
    background-color: #333333;
    color: #fff;
}


.chart {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.skill-progress{
    margin: 0 auto;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

.skills h4{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 15px;
}
.skill{
    text-align: center;
}


.navbar.navbar-default{
    border-color: #e7e7e7;
    border-radius: 0;
    width: 100%;
    background-color: #fff;

}

.portfolio{
    width: 100%;
    padding: 100px;
}

.project{
    width: 350px;
    height: 250px;
    margin: 8px 4px;
}

.project h3{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
.project a img{
   opacity: 0.6;
   transition: .3s ease-in-out;
}

.project a:hover img{
    opacity: 1;
}

@media only screen and (max-width: 500px){
    .project{
        width: 250px;
        height: 200px;
    }
}

@media only screen and (min-width:900px) and (max-width: 1400px){
    .project{
        width: 300px;
        height: 250px;
        margin: 10px;
    }
}
@media only screen and (max-width: 400px){
   .gallery{
       margin: -50px !important;
   }
}


.footer{
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 10px 0 10px 0;
}

.social{
    height: 80px;
    text-align: center;
    padding-top: 20px;
}

.social li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}


.button{
    color: #fff;
   padding: 10px;
   border-radius: 50%;
   border: 1px solid #fff;
   width:50px;
   height:50px;
   display: inline-block;
   text-align: center;
   line-height:30px;
   font-size:20px;
}

.button:hover{
     border-color: #33658a;
}

