body{
    width: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
}




.intro{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    padding: 0;
    background-image: url('img/workspace.jpg');
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;

}
.overlay{
    background: #333333;
    opacity: 0.6;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.content{
    position: relative;
    width: 100%;
    top: 300px;
}


.intro p{
    font-size: 20px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.intro h2{
    font-size: 60px;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.about{
    width: 100%;
    padding: 100px;
}


.about h2{
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-style: bold;
}


.heading{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.heading::after{
    content: "";
    display: flex;
    width: 100px;
    height: 1px;
    background: #333333;
    margin: 40px 0 40px;
}

.text{
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 20px;
    font-weight: 100;
}

/*Skills Section */
.skills{
    width: 100%;
    padding: 100px;
    background-color: #333333;
    color: #fff;
}


.chart {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.skill-progress{
    margin: 0 auto;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

.skills h4{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 15px;
}
.skill{
    text-align: center;
}


.navbar.navbar-default{
    border-color: #e7e7e7;
    border-radius: 0;
    width: 100%;
    background: #fff;
    z-index: 1003;

}

.nav.navbar-nav{
    float: right;
}
.navbar.navbar-default .navbar-nav li a{
    color: #333;
    font-size: 1em;
    text-transform: uppercase;
    color: #74C7D5;
}

.navbar.navbar-default .navbar-nav li a:hover{
    background-color: #74C7D5;
    color: #fff;
}

.navbar.navbar-default .navbar-nav li:active{
    color: #74C7D5;
}

